.formWrapper{
    height: 420px;
    border-radius: 6px;
    background: linear-gradient(to right, rgba(44,124,241,1), rgba(0,209,255,0.5)), url(https://media.istockphoto.com/id/1354045696/photo/white-background-abstract.jpg?s=1024x1024&w=is&k=20&c=PvT8dkpmEdlgpJzxUr2Jr_9HakXRJnzh7-_sI8RRuwA=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 31px 44px 40px;
    color: var(--color-five);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "inter";
   
    
    
}
.parah{

  
}
.heading{
    font-size: 32px;
    width: 440px;
    font-weight: 400;
    padding-bottom: 15px;
}
.paragraph{
    font-size: 16px;
    width: 390px;
    line-height: 20px;

}
.formContent{
    background-color: var(--color-five);
    width: 40%;
    overflow: hidden;
    border-radius: 6px;

}
.form{
    padding: 25px 20px 20px 20px;
}
.btnWrapper{
    width: 128px;
    margin-top: 28px;

}
.form > * + *{
    margin-top: 20px;
}
textarea{
    color : black;
}
@media screen and (max-width:780px){
    .formWrapper{
        width: 100%;
        justify-content: space-around;
        display: grid;
        grid-template-columns: 2fr, 1fr;
        margin: auto;
        /* padding: 30px 10px 44px 10px; */
        font-size: 10px;
    }
    .formContent{
        width: 80%;
        /* background-color: aqua; */

    }
    .heading, .paragraph{
        font-size: 15px;
        width: 50%;
    }

    .form{
        padding: 15px 10px 15px 10px;
        /* width: 10%; */
    }
    .btnWrapper{
        width: 128px;
        margin-top: 28px;
    
    }
    .form > * + *{
        margin-top: 10px;
    }
    .formWrapper{
        height: 400px;
    }
    
}


