.content{
    background-color: var(--color-seven);
    color: black;
    width: 100%;
    font-family: 'Inter', sans-serif;
    padding: 16px 24px 32px 16px;
    border-radius: 5px;
}
.content[data-variant= "primary"]{
    background-color: var(--color-three);
}
.content[data-variant= "secondary"]{
    background-color: var(--color-two);
}
.content[data-size= "small"]{
    padding-bottom: 12px;
    padding-top: 14px;
}

@media screen and (max-width:780px) {
    .content{
        width: 100%;
        font-family: 'Inter', sans-serif;
        padding: 6px 14px 13px 8px;
        border-radius: 5px;

    }
    
}